.refresh .v-input__icon--append .v-icon {
    color: #1B7AD2;
}

.v-application .blue--text {
    color: #1B7AD2 !important;
}

.v-input--is-disabled.v-text-field--outlined fieldset {
    border-style: dashed;
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:before,
.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:hover:before,
.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:focus:before {
    opacity: .05;
}

.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:before,
.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:hover:before,
.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:focus:before {
    opacity: .1;
}

.theme--light.v-input--is-disabled,
.theme--light.v-input--is-disabled input,
.theme--light.v-input--is-disabled textarea {
    color: rgba(0, 0, 0, .5);
}

.ib-expand .v-expansion-panel-content__wrap {
    padding: 0 !important;
}

.v-expansion-panel-header {
    min-height: 64px;
}

.v-expansion-panel::before {
    box-shadow: none !important;
 }